Repository njm222/tessellator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

change repo visualization cron job to run once a month
  .github/workflows/repo-visualization.yml
Due: none

remove old texture.png
  apps/tessellator/public/texture.png
Due: none

remove lighthouse report
  apps/tessellator/public/img/logo.svg
  apps/tessellator/public/img/scores/lighthouse.md
  apps/tessellator/public/img/scores/lighthouse.svg
Due: prettier --write

refactor config files
  apps/tessellator/src/app/head.tsx
  apps/tessellator/src/app/robots.ts
  apps/tessellator/src/components/canvas/View.tsx
  apps/tessellator/src/components/dom/controls/controlsContext.tsx
  apps/tessellator/src/components/dom/settings/AnalyserOptions.tsx
  apps/tessellator/src/components/dom/settings/VisualizerOptions.tsx
  apps/tessellator/src/config/constants.ts
  apps/tessellator/src/config/environment.ts
  apps/tessellator/src/utils/analyserContext.tsx
Due: eslint --fix, prettier --write

optimize bridge model
  apps/tessellator/public/models/bridge.glb
  apps/tessellator/public/models/bridge.gltf
  apps/tessellator/src/components/canvas/scenes/VisualizerScene.tsx
Due: eslint --fix, prettier --write

improve loader and small style adjustments
  apps/tessellator/src/app/global.css
  apps/tessellator/src/app/manifest.ts
  apps/tessellator/src/components/dom/WelcomeUser.tsx
  apps/tessellator/src/components/dom/player/Player.tsx
  apps/tessellator/src/helpers/ImageWrapper.tsx
  packages/ui/src/index.css
  packages/ui/src/index.tsx
  packages/ui/src/loader/Loader.tsx
  packages/ui/src/loader/LoaderDots.tsx
  packages/ui/src/loader/index.ts
Due: eslint --fix, prettier --write

minor loading improvements
  apps/tessellator/src/app/global.css
  apps/tessellator/src/components/dom/player/Player.tsx
Due: eslint --fix, prettier --write

cleanup
  apps/tessellator/src/components/canvas/scenes/VisualizerScene.tsx
  apps/tessellator/src/components/dom/controls/mouseActivityContext.tsx
  apps/tessellator/src/components/dom/player/Player.tsx
  apps/tessellator/src/helpers/ImageWrapper.tsx
Due: eslint --fix, prettier --write

chore: update root visualization
  readme/root-visualization.svg
Due: none

chore: update app visualization
  apps/tessellator/readme/app-visualization.svg
Due: none

chore: update api visualization
  apps/api/readme/api-visualization.svg
Due: none

refactored portal
  apps/tessellator/package.json
  apps/tessellator/src/components/canvas/Portal.tsx
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/scenes/VisualizerScene.tsx
  apps/tessellator/src/components/layout/AuthenticatedLayout.tsx
  apps/tessellator/src/helpers/Three.tsx
  apps/tessellator/src/utils/portalContext.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: update repo visualization (#68)
  apps/api/readme/api-visualization.svg
  apps/tessellator/readme/app-visualization.svg
  readme/root-visualization.svg
Due: none

improve accessToken invalid and error handling
  apps/api/public/index.js
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  packages/core/src/spotify/player/index.ts
  packages/core/src/spotify/spotifyClient.ts
  packages/core/src/spotify/track/index.ts
  packages/core/src/spotify/user/index.ts
  packages/core/src/spotify/utils.ts
Due: eslint --fix, prettier --write

feat: improve accessToken invalid and error handling (#69)
  apps/api/public/index.js
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  packages/core/src/spotify/player/index.ts
  packages/core/src/spotify/spotifyClient.ts
  packages/core/src/spotify/track/index.ts
  packages/core/src/spotify/user/index.ts
  packages/core/src/spotify/utils.ts
Due: eslint --fix, prettier --write

feat: improve spotify player script loading
  apps/tessellator/src/app/visualizer/layout.tsx
  apps/tessellator/src/utils/playerContext.tsx
Due: eslint --fix, prettier --write

feat: switch to useCursor hook
  apps/tessellator/src/components/canvas/Text.tsx
  apps/tessellator/src/components/canvas/scenes/LandingScene.tsx
Due: eslint --fix, prettier --write

cleanup
  apps/tessellator/src/components/canvas/Text.tsx
Due: eslint --fix, prettier --write

feat: switch to useCursor hook (#70)
  apps/tessellator/src/components/canvas/Text.tsx
  apps/tessellator/src/components/canvas/scenes/LandingScene.tsx
Due: eslint --fix, prettier --write

feat: enable pwa and optimize seo
  apps/tessellator/next.config.js
  apps/tessellator/package.json
  apps/tessellator/src/app/head.tsx
  apps/tessellator/src/app/layout.tsx
  apps/tessellator/src/app/manifest.ts
  apps/tessellator/src/app/manifest.webmanifest
  apps/tessellator/src/app/sitemap.ts
  yarn.lock
Due: eslint --fix, prettier --write

about page placeholder
  apps/tessellator/src/app/about/page.tsx
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/scenes/LandingScene.tsx
  apps/tessellator/src/components/canvas/text/NavigationText.tsx
  apps/tessellator/src/components/canvas/text/Text.tsx
Due: eslint --fix, prettier --write

setup sentry
  apps/api/package.json
  apps/api/public/index.js
  apps/api/src/environments/environment.ts
  apps/api/src/index.ts
  apps/api/src/sentry/sentry.ts
  apps/api/src/server/server.ts
  apps/tessellator/.gitignore
  apps/tessellator/next.config.js
  apps/tessellator/package.json
  apps/tessellator/public/workbox-8e51679a.js.map
  apps/tessellator/sentry.client.config.ts
  apps/tessellator/sentry.edge.config.ts
  apps/tessellator/sentry.server.config.ts
  apps/tessellator/src/app/global.css
  apps/tessellator/src/components/dom/SocialLinks.tsx
  apps/tessellator/src/config/environment.ts
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: setup sentry (#71)
  apps/api/package.json
  apps/api/public/index.js
  apps/api/src/environments/environment.ts
  apps/api/src/index.ts
  apps/api/src/sentry/sentry.ts
  apps/api/src/server/server.ts
  apps/tessellator/.gitignore
  apps/tessellator/next.config.js
  apps/tessellator/package.json
  apps/tessellator/public/workbox-8e51679a.js.map
  apps/tessellator/sentry.client.config.ts
  apps/tessellator/sentry.edge.config.ts
  apps/tessellator/sentry.server.config.ts
  apps/tessellator/src/app/global.css
  apps/tessellator/src/components/dom/SocialLinks.tsx
  apps/tessellator/src/config/environment.ts
  turbo.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: cleanup sentry
  .gitignore
  apps/api/public/index.js
  apps/api/src/index.ts
  apps/api/src/sentry/sentry.ts
  apps/tessellator/.gitignore
  apps/tessellator/sentry.client.config.ts
  apps/tessellator/sentry.edge.config.ts
  apps/tessellator/sentry.server.config.ts
Due: eslint --fix, prettier --write

chore: use drei View
  apps/tessellator/src/app/global.css
  apps/tessellator/src/app/page.tsx
  apps/tessellator/src/app/visualizer/page.tsx
  apps/tessellator/src/components/canvas/View.tsx
  apps/tessellator/src/components/layout/DefaultLayout.tsx
Due: eslint --fix, prettier --write

chore: update turbo
  package.json
  yarn.lock
Due: none

checkin
  apps/tessellator/package.json
  apps/tessellator/src/app/about/page.tsx
  apps/tessellator/src/app/global.css
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/Text.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: enable fullscreen
  apps/tessellator/src/components/dom/controls/controlsContext.tsx
  apps/tessellator/src/components/dom/settings/ModeOptions.tsx
Due: eslint --fix, prettier --write

chore: remove logs
  apps/tessellator/src/components/dom/controls/controlsContext.tsx
  apps/tessellator/src/helpers/global.ts
Due: eslint --fix, prettier --write

fix: reduce typescript version
  apps/api/package.json
  apps/tessellator/package.json
  apps/tessellator/src/components/dom/controls/controlsContext.tsx
  packages/logger/package.json
  packages/ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

add about content
  apps/tessellator/src/app/global.css
  apps/tessellator/src/components/canvas/View.tsx
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/FlexText.tsx
  apps/tessellator/src/components/canvas/text/Text.tsx
  apps/tessellator/src/components/dom/SocialLinks.tsx
  apps/tessellator/src/helpers/global.ts
Due: eslint --fix, prettier --write

add scrollable about page
  apps/tessellator/package.json
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  yarn.lock
Due: eslint --fix, prettier --write

add link hover effect
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/FlexText.tsx
  apps/tessellator/src/components/canvas/text/NavigationText.tsx
  apps/tessellator/src/components/canvas/text/Text.tsx
  apps/tessellator/src/components/dom/SocialLinks.tsx
Due: eslint --fix, prettier --write

cleanup
  apps/tessellator/src/components/canvas/View.tsx
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/FlexText.tsx
Due: eslint --fix, prettier --write

optimize hover effect
  apps/tessellator/src/components/canvas/text/FlexText.tsx
Due: eslint --fix, prettier --write

fix dom components order for about page
  apps/tessellator/src/app/about/page.tsx
Due: eslint --fix, prettier --write

add glitch effect
  apps/tessellator/src/components/canvas/Particles.tsx
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
Due: eslint --fix, prettier --write

cleanup
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/NavigationText.tsx
Due: eslint --fix, prettier --write

final cleanup
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/canvas/text/FlexText.tsx
  apps/tessellator/src/utils/playerContext.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,md})
