Repository njm222/tessellator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,md}": "prettier --write"
}

chore: update root visualization
  readme/root-visualization.svg
Due: none

chore: update app visualization
  apps/tessellator/readme/app-visualization.svg
Due: none

add missing files from root
  apps/tessellator/src/app/global.css
  yarn.lock
Due: prettier --write

fix missing rename
  apps/tessellator/src/components/dom/player/Player.tsx
Due: eslint --fix, prettier --write

fix ui build
  apps/tessellator/src/components/layout/DefaultLayout.tsx
  packages/ui/.eslintrc.js
  packages/ui/public/icon.png
  packages/ui/src/buttons/icon-button/IconButton.stories.ts
  packages/ui/src/loader/Loader.stories.ts
  packages/ui/src/loader/Loader.tsx
  packages/ui/src/loader/LoaderDots.stories.ts
  packages/ui/src/loader/hints/Hint.stories.ts
  packages/ui/src/loader/hints/Hints.stories.ts
  packages/ui/src/new-tab/NewTabLink.stories.ts
  packages/ui/src/new-tab/NewTabLink.tsx
  packages/ui/src/player/PlayerControls.stories.ts
  packages/ui/src/player/ProgressBar.stories.ts
  packages/ui/src/player/TrackDetails.stories.ts
  packages/ui/src/player/buttons/NextButton.stories.ts
  packages/ui/src/player/buttons/PauseButton.stories.ts
  packages/ui/src/player/buttons/PlayButton.stories.ts
  packages/ui/src/player/buttons/PrevButton.stories.ts
  packages/ui/src/player/buttons/SaveButton.stories.ts
  packages/ui/src/player/buttons/ShuffleButton.stories.ts
  packages/ui/src/toast/Toast.stories.ts
Due: eslint --fix, prettier --write

update ts version
  apps/api/package.json
  apps/tessellator/package.json
  apps/tessellator/public/workbox-8e51679a.js.map
  packages/audio-analyser/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/spotify-analyser/package.json
  packages/ui/package.json
  yarn.lock
Due: none

cleanup
  packages/ui/src/buttons/icon-button/IconButton.stories.ts
  packages/ui/src/loader/Loader.stories.ts
  packages/ui/src/loader/hints/Hint.stories.ts
  packages/ui/src/loader/hints/Hints.stories.ts
  packages/ui/src/loader/hints/storybookHintOptions.ts
  packages/ui/src/player/PlayerControls.stories.ts
  packages/ui/src/player/ProgressBar.stories.ts
  packages/ui/src/player/TrackDetails.stories.ts
  packages/ui/src/toast/Toast.stories.ts
Due: eslint --fix, prettier --write

chore: override storybook doc styles & add typeset
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/storybook.css
  packages/ui/src/icons/icons.mdx
  packages/ui/src/loader/Loader.stories.ts
  packages/ui/src/system/Icons.mdx
  packages/ui/src/system/Typography.mdx
Due: eslint --fix, prettier --write

chore: update repo visualization (#83)
  apps/tessellator/readme/app-visualization.svg
  readme/root-visualization.svg
Due: none

more model optimizations
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/models/Blackhole.tsx
Due: eslint --fix, prettier --write

chore: update spotify auth scope
  apps/api/public/index.js
  apps/api/src/app/authentication/login/loginController.ts
Due: eslint --fix, prettier --write

fix: visualizer navigation hanging
  apps/api/public/index.js
  apps/tessellator/src/components/canvas/scenes/LandingScene.tsx
  apps/tessellator/src/middleware.ts
  packages/core/src/web/apiClient.ts
  packages/core/src/web/auth/index.ts
Due: eslint --fix, prettier --write

chore: remove logs
  apps/tessellator/src/middleware.ts
  packages/core/src/web/auth/index.ts
Due: eslint --fix, prettier --write

prefix ui with @tessellator
  apps/tessellator/package.json
  apps/tessellator/src/app/about/page.tsx
  apps/tessellator/src/app/global.css
  apps/tessellator/src/app/loading.tsx
  apps/tessellator/src/app/page.tsx
  apps/tessellator/src/app/visualizer/page.tsx
  apps/tessellator/src/components/canvas/scenes/AboutScene.tsx
  apps/tessellator/src/components/dom/BackNavigationButton.tsx
  apps/tessellator/src/components/dom/SocialLinks.tsx
  apps/tessellator/src/components/dom/player/Player.tsx
  apps/tessellator/src/components/dom/settings/AnalyserOptions.tsx
  apps/tessellator/src/components/dom/settings/Settings.tsx
  apps/tessellator/src/components/layout/AuthenticatedLayout.tsx
  apps/tessellator/src/components/layout/Layout.tsx
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  packages/ui/package.json
  workspace.json
Due: eslint --fix, prettier --write

prefix spotify-analyser with @tessellator
  apps/tessellator/package.json
  apps/tessellator/src/utils/playerContext.tsx
  packages/spotify-analyser/package.json
  tessellator.code-workspace
  workspace.json
Due: eslint --fix, prettier --write

prefix audio-analyser with @tessellator
  apps/tessellator/package.json
  apps/tessellator/src/components/dom/settings/AnalyserOptions.tsx
  apps/tessellator/src/utils/analyserContext.tsx
  packages/audio-analyser/package.json
Due: eslint --fix, prettier --write

prefix core with @tessellator
  apps/api/package.json
  apps/api/src/app/authentication/login/loginController.ts
  apps/tessellator/package.json
  apps/tessellator/src/components/canvas/Particles.tsx
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
  apps/tessellator/src/components/canvas/modes/useGetColor.ts
  apps/tessellator/src/components/canvas/text/NavigationText.tsx
  apps/tessellator/src/components/dom/controls/controlsContext.tsx
  apps/tessellator/src/components/dom/player/Player.tsx
  apps/tessellator/src/middleware.ts
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  packages/core/package.json
  workspace.json
Due: eslint --fix, prettier --write

prefix core with @tessellator
  apps/tessellator/src/utils/spotify.ts
Due: eslint --fix, prettier --write

prefix logger with @tessellator
  apps/api/package.json
  apps/tessellator/package.json
  packages/logger/package.json
  workspace.json
Due: none

prefix tsconfig with @tessellator
  apps/api/package.json
  apps/tessellator/package.json
  packages/audio-analyser/package.json
  packages/core/package.json
  packages/logger/package.json
  packages/spotify-analyser/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  workspace.json
Due: none

prefix tsconfig with @tessellator
  apps/api/tsconfig.json
  apps/tessellator/tsconfig.json
  packages/audio-analyser/tsconfig.json
  packages/core/tsconfig.json
  packages/logger/tsconfig.json
  packages/spotify-analyser/tsconfig.json
  packages/ui/tsconfig.json
Due: none

prefix jest-presets with @tessellator
  apps/api/package.json
  packages/audio-analyser/package.json
  packages/core/package.json
  packages/jest-presets/package.json
  packages/logger/package.json
  packages/spotify-analyser/package.json
  packages/ui/package.json
  workspace.json
Due: none

prefix eslint-config with @tessellator
  apps/api/package.json
  apps/tessellator/package.json
  packages/audio-analyser/package.json
  packages/core/package.json
  packages/eslint-config-base/package.json
  packages/eslint-config-custom-server/package.json
  packages/eslint-config-custom/package.json
  packages/logger/package.json
  packages/spotify-analyser/package.json
  packages/ui/package.json
  workspace.json
Due: none

prefix eslint-config with @tessellator
  apps/tessellator/.eslintrc.js
  packages/audio-analyser/.eslintrc.js
  packages/core/.eslintrc.js
  packages/logger/.eslintrc.js
  packages/spotify-analyser/.eslintrc.js
  packages/ui/.eslintrc.js
Due: none

prefix eslint-config with @tessellator
  apps/api/.eslintrc.js
  packages/eslint-config-custom-server/index.js
  packages/eslint-config-custom/index.js
Due: none

prefix eslint-config with @tessellator
  packages/eslint-config-custom-server/index.js
  packages/eslint-config-custom/index.js
Due: none

fix: specify browserlist
  apps/tessellator/package.json
Due: none

fix: try specifying 404 page
  apps/tessellator/src/app/[...404]/page.tsx
Due: eslint --fix, prettier --write

fix: auth context
  apps/tessellator/src/utils/authContext.tsx
Due: eslint --fix, prettier --write

chore: remove custom 404 page
  apps/tessellator/src/app/[...404]/page.tsx
Due: eslint --fix, prettier --write

add smooth transition between modes
  apps/tessellator/package.json
  apps/tessellator/src/components/canvas/modes/Modes.tsx
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
  apps/tessellator/src/components/canvas/modes/mode-2/Mode2.tsx
  apps/tessellator/src/components/canvas/modes/mode-3/Mode3.tsx
  apps/tessellator/src/components/canvas/modes/mode-4/Mode4.tsx
  apps/tessellator/src/components/canvas/shaders/basic-instance/BasicInstanceMaterial.tsx
  apps/tessellator/src/components/canvas/shaders/basic-instance/glsl/shader.frag
  apps/tessellator/src/components/canvas/shaders/basic-instance/glsl/shader.vert
  apps/tessellator/src/components/canvas/shaders/fractal/glsl/shader.frag
  yarn.lock
Due: eslint --fix, prettier --write

update blending
  apps/tessellator/src/components/canvas/modes/mode-2/Mode2.tsx
Due: eslint --fix, prettier --write

cleanup
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
  apps/tessellator/src/components/canvas/modes/mode-2/Mode2.tsx
  apps/tessellator/src/components/canvas/modes/mode-3/Mode3.tsx
  apps/tessellator/src/components/canvas/modes/mode-4/Mode4.tsx
Due: eslint --fix, prettier --write
