Repository njm222/tessellator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,md}": "prettier --write"
}

fix: repo visualization
  .github/workflows/repo-visualization.yml
Due: none

chore: update root visualization
  readme/root-visualization.svg
Due: none

add svg files & update workflow
  .github/workflows/repo-visualization.yml
  apps/api/readme/api-visualization.svg
  apps/tessellator/readme/app-visualization.svg
Due: none

chore: repo visualization (#57)
  .github/workflows/repo-visualization.yml
  apps/api/readme/api-visualization.svg
  apps/tessellator/readme/app-visualization.svg
  readme/root-visualization.svg
Due: none

cleanup mode3
  apps/tessellator/src/components/canvas/modes/mode-3/Mode3.tsx
Due: eslint --fix, prettier --write

feat: colour improvements (#56)
  apps/tessellator/src/components/canvas/Visualizer.tsx
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
  apps/tessellator/src/components/canvas/modes/mode-2/Mode2.tsx
  apps/tessellator/src/components/canvas/modes/mode-3/Mode3.tsx
  apps/tessellator/src/components/canvas/modes/useGetColour.ts
Due: eslint --fix, prettier --write

fix auth bugs
  apps/api/public/index.js
  apps/api/src/app/authentication/refresh-token/refreshTokenController.ts
  apps/tessellator/src/pages/index.tsx
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

cleanup
  apps/api/public/index.js
  apps/api/src/app/authentication/refresh-token/refreshTokenController.ts
Due: eslint --fix, prettier --write

fix: authentication bugs (#58)
  apps/api/public/index.js
  apps/api/src/app/authentication/refresh-token/refreshTokenController.ts
  apps/tessellator/src/pages/index.tsx
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
  apps/tessellator/src/utils/spotify.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: dynamicDelta and accessToken expire
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
  apps/tessellator/src/utils/spotify.ts
Due: eslint --fix, prettier --write

chore: update readme and repo visualization
  .github/workflows/repo-visualization.yml
  README.md
Due: prettier --write

add loader context
  apps/tessellator/src/components/layout/DomLayout.tsx
  apps/tessellator/src/pages/_app.tsx
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/loaderContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
Due: eslint --fix, prettier --write

chore: add loader context (#59)
  apps/tessellator/src/components/layout/DomLayout.tsx
  apps/tessellator/src/pages/_app.tsx
  apps/tessellator/src/utils/authContext.tsx
  apps/tessellator/src/utils/loaderContext.tsx
  apps/tessellator/src/utils/playerContext.tsx
Due: eslint --fix, prettier --write

fix: unmount player
  apps/tessellator/src/utils/playerContext.tsx
Due: eslint --fix, prettier --write

fix: loader jumping
  packages/ui/src/loader/Loader.tsx
  packages/ui/src/loader/loader.css
Due: eslint --fix, prettier --write

fix: loader test
  packages/ui/src/loader/Loader.test.tsx
Due: eslint --fix, prettier --write

fix: repo visualization yml syntax
  .github/workflows/repo-visualization.yml
Due: none

improve mode1
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
Due: eslint --fix, prettier --write

more mode adjustments
  apps/tessellator/src/components/canvas/modes/mode-0/Mode0.tsx
  apps/tessellator/src/components/canvas/modes/mode-1/Mode1.tsx
Due: eslint --fix, prettier --write

chore: update app visualization
  apps/tessellator/readme/app-visualization.svg
Due: none

chore: update api visualization
  apps/api/readme/api-visualization.svg
Due: none

fix: auth
  apps/tessellator/src/utils/authContext.tsx
Due: eslint --fix, prettier --write
